.popup-survey {
    position: fixed;
    top: 0;
    left: 0;
    @include flex-setting(column, center, center);
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    z-index: 999;

    &.is-active {
        display: flex;
    }

    &__wrapper {
        position: relative;
        @include flex-setting(column, flex-start, flex-start);
        width: 100%;
        max-width: toRem(300);
        height: auto;
        padding: toRem(24) toRem(24);
        background-color: $white;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    }

    &__closer {
        position: absolute;
        top: toRem(24);
        right: toRem(24);
        @include flex-setting(column, center, center);
        width: toRem(56);
        height: toRem(56);
        border: none;
        background-color: transparent;

        width: toRem(16);
        height: toRem(16);

        &:active {
            transition: 0.2s $cubic;
            fill: #E6007F;
        }

        svg {
            width: toRem(24);
        }
    }

    &__title {
        position: relative;
        max-width: 80%;
        @include font-setting($primary-font, toRem(16), toRem(20), 500, #000000);
        margin-top: 0;
        margin-bottom: toRem(24);
        padding-left: toRem(48);

        &::before {
            position: absolute;
            content: '';

            top: 50%;
            left: 0;
            transform: translateY(-50%);

            width: toRem(32);
            height: toRem(32);
            background-color: #E6007F;
            border-radius: toRem(16);
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.36963 10.8072C9.35642 10.7888 9.33898 10.7738 9.31878 10.7635C9.29858 10.7533 9.27622 10.748 9.25356 10.7482H8.46428C8.34821 10.7482 8.28035 10.8804 8.34821 10.975L9.66606 12.7982C9.72321 12.8768 9.83928 12.8768 9.89642 12.7982L11.9357 9.9768C12.0036 9.88215 11.9357 9.75001 11.8196 9.75001H11.0286C10.9821 9.75001 10.9393 9.77144 10.9125 9.80894L9.77856 11.3768L9.36963 10.8072ZM10.1428 4.32144V3.46429C10.1428 3.38572 10.0786 3.32144 9.99999 3.32144H3.14285C3.06428 3.32144 2.99999 3.38572 2.99999 3.46429V4.32144C2.99999 4.40001 3.06428 4.46429 3.14285 4.46429H9.99999C10.0786 4.46429 10.1428 4.40001 10.1428 4.32144ZM3.14285 5.89287C3.06428 5.89287 2.99999 5.95715 2.99999 6.03572V6.89287C2.99999 6.97144 3.06428 7.03572 3.14285 7.03572H6.42856C6.50713 7.03572 6.57142 6.97144 6.57142 6.89287V6.03572C6.57142 5.95715 6.50713 5.89287 6.42856 5.89287H3.14285ZM6.42856 14.0714H1.57142V1.50001H11.5714V6.78572C11.5714 6.86429 11.6357 6.92858 11.7143 6.92858H12.7143C12.7928 6.92858 12.8571 6.86429 12.8571 6.78572V0.785723C12.8571 0.469652 12.6018 0.214294 12.2857 0.214294H0.857134C0.541063 0.214294 0.285706 0.469652 0.285706 0.785723V14.7857C0.285706 15.1018 0.541063 15.3572 0.857134 15.3572H6.42856C6.50713 15.3572 6.57142 15.2929 6.57142 15.2143V14.2143C6.57142 14.1357 6.50713 14.0714 6.42856 14.0714ZM13.6178 8.34287L10.1893 7.15179C10.1732 7.14644 10.1589 7.14465 10.1428 7.14465C10.1268 7.14465 10.1107 7.14644 10.0964 7.15179L6.66785 8.34287C6.63984 8.35238 6.61549 8.3704 6.59821 8.3944C6.58092 8.41841 6.57156 8.44721 6.57142 8.4768V12.9607C6.57142 13.0054 6.59106 13.0464 6.62678 13.0732L10.0553 15.7554C10.0803 15.775 10.1125 15.7857 10.1428 15.7857C10.1732 15.7857 10.2053 15.775 10.2303 15.7554L13.6589 13.0732C13.6928 13.0464 13.7143 13.0054 13.7143 12.9607V8.4768C13.7143 8.41608 13.675 8.36251 13.6178 8.34287ZM12.6071 12.4947L10.1428 14.4214L7.67856 12.4947V9.16072L10.1428 8.30358L12.6071 9.16072V12.4947Z' fill='white'/%3E%3C/svg%3E");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: toRem(14) toRem(16);
        }
    }

    &__description {
        padding-left: toRem(48);
        @include font-setting($book-font, toRem(12), toRem(16), 400, #000000);
        text-align: left;
        margin-bottom: toRem(4);

        &:last-of-type {
            margin-bottom: toRem(20);
        }
    }

    &__link {
        width: 100%;
        @include flex-setting(column, center, center);
        padding: toRem(12) toRem(32);
        @include font-setting($primary-font, toRem(16), toRem(20), 500, #ffffff);
        text-decoration: none;
        background-color: #E6007F;


        &:active {
            color: #000000;
            background-color: #ffffff;
            box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
            transition: 0.2s $cubic;
        }
    }
}

@include min-screen(1200px) {
    .popup-survey {
        &__wrapper {
            max-width: toRem(416);
            padding: toRem(36) toRem(36);
        }
    
        &__closer {
            top: toRem(36);
            right: toRem(36);
            width: toRem(24);
            height: toRem(24);

            &:hover {
                fill: #E6007F;
                transition: 0.2s $cubic;
            }
        }
    
        &__title {
            font-size: toRem(20);
            line-height: toRem(22);
            margin-bottom: toRem(36);
            padding-left: toRem(64);
    
            &::before {
                width: toRem(36);
                height: toRem(36);
                border-radius: toRem(18);
                background-size: 50%;
            }
        }
    
        &__description {
            max-width: 90%;
            font-size: toRem(14);
            line-height: toRem(18);
            margin-bottom: toRem(4);
            padding-left: toRem(64);
    
            &:last-of-type {
                margin-bottom: toRem(36);
            }
        }
    
        &__link {
            &:hover {
                color: #000000;
                background-color: #ffffff;
                box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
                transition: 0.2s $cubic;
            }
        }
    }
    
}