.inner-materials {
    @include flex-setting(column, flex-start, center);

    padding: toRem(20) 0 toRem(20) toRem(90);
    max-width: toRem(1200);

    &__title {
        @include font-setting($primary-font, toRem(15), toRem(18), 400, #000);
        padding-bottom: toRem(10);
        position: relative;
        margin-bottom: toRem(26);
        text-transform: uppercase;

        &::after {
            position: absolute;
            content: '';

            width: toRem(75);
            height: toRem(1);
            background-color: #000;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__list {
        width: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: toRem(40);
        justify-content: center;
        align-items: start;
    }

    &__item {
        width: 100%;
        @include flex-setting(column, center, center);
        position: relative;
    }

    &__nav {
        @include flex-setting(row, flex-start, center);
        position: absolute;
        flex-wrap: wrap;
        left: toRem(110);
        top: 0;

        &-link {
            @include font-setting($primary-font, toRem(12), toRem(17), 700, #000);
            text-decoration: none;
            white-space: nowrap;
            transition: 0.3s $cubic;

            &:hover,
            &:active,
            &:focus {
                color: #D9318B;
                transition: 0.3s $cubic;
            }
        }
    }

    &__link {
        width: 100%;
        display: grid;
        grid-template-areas:
            'image ...'
            'image description'
        ;
        grid-template-columns: toRem(100) 1fr;
        grid-template-rows: toRem(22) 1fr;
        grid-column-gap: toRem(10);
        text-decoration: none;
    }

    &__divider {
        margin: 0 toRem(10);
        display: inline-block;
        width: toRem(10);
        position: relative;

        &::after {
            position: absolute;
            content: '';

            width: toRem(10);
            height: toRem(1);
            background-color: #000;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
    }

    &__frame {
        grid-area: image;
        @include flex-setting(column, center, center);
        max-height: tORem(100);
        overflow: hidden;

        &-image {
            width: 100%;
            height: 100%;
            max-height: toRem(100);
            object-fit: cover;
            object-position: center;
        }
    }

    &__name {
        grid-area: title;
        @include font-setting($primary-font, toRem(12), toRem(17), 700, #000);
        margin-bottom: toRem(5);
    }

    &__description {
        @include font-setting($primary-font, toRem(14), toRem(18), 400, #000);
        text-align: left;
        align-self: center;
        justify-self: start;
        grid-area: description;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
}

@media screen and (max-width: 1919px) {
    .inner-materials {
        padding: toRem(20) 6.25764192139738%;

        &__list {
            grid-column-gap: toRem(40);
        }
    }
}

@media screen and (max-width: 1599px) {
    .inner-materials {
        padding: toRem(20) 6.040201005025126%;

        &__list {
            grid-column-gap: toRem(25);
        }
    }
}

@media screen and (max-width: 1449px) {
    .inner-materials {
        padding: toRem(20) 2.818489289740699%;
    }
}

@media screen and (max-width: 1279px) {
    .inner-materials {
        display: none;
    }
}
